<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anuku.rentspace">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_home_black_24dp"
        android:label="RentSpace"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MyPlaces" />
        <activity android:name=".AddPlaces" />
        <activity android:name=".MyPlaces2" />
        <activity android:name=".GuestMode" />
        <activity android:name=".SearchBox" />
        <activity android:name=".CategorySelect"></activity>
        <activity android:name=".Settings"></activity>

    </application>

</manifest>